@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
        font-size: 100%;
        background-image: url('imagens/background.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.computer {
    height: 85vh;
   }

.fundo-branco{
    color: #036d88;
    background-color: white;
    padding: 0px 7px;
}

.title{
    font-family: 'Montserrat', sans-serif;
    color: white;
    line-height: 40px;
}

.text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    line-height: 20px;
    font-size: 13px;
}

.adv{
    font-weight: 700;
    font-size: 20px;
}

.icon{
    margin-right: 15px;
}

.information{
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.button{
    height: 50px;
    width: 250px;
    border: none;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #00252b;
    background-color: #27a8c7;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}